body{
    background-color: #afaaaa88;
}
/* moficacion del submenu registro */
.registro{
    color: #f2eeee;
    background-color: #f04e4e;
}
ul.encabezado{
    background-color: #bc3434;
    color: white;
}
a{
    color: rgb(19, 18, 18);
}

/* modifcacion del menu */
.navbar{
    color: #210E03;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* MENU HORIZONTAL */
.nav{  
    color: rgb(253, 249, 249);
    grid-column-start: 2; /* ESPECIFICA EN QUE GRILLA VA ESTAR EN CONTENIDO */
    list-style: none;
    display: flex;
    justify-content: space-between;

}

.nav li a{  /* ITEMS DEL MENU  (lista y links) */
    display: block;
    padding: 0.6rem 1rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
 /* MENU VERTICAL ADESPLEGABLE*/
.menuVertical{ 
    display: none;
    position: absolute;
    list-style: none;
    width: 15rem;
    padding: 0;
    background-color: rgba(30, 30, 30, 0.850);
    z-index: 2; 
}

/* modificacion de l amiga de pan */
ol{
    background-color: none;
    text-decoration: none;
}
/* titulo de accesorios */
.title{
    color: white;
}
/* modifiacacion de las cards*/
.btn{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    border: none;
    background-color: #f90202;
}
.btn:hover{
    background-color: rgb(12, 12, 13);
    border: none ;
}
.row{
    margin: 0 8rem 4rem 8rem;

}
.card-body{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-title{
    font-size: 1.5rem;
}
h6{
    color: #121212;
}
/* pasar a otro computador desde aqui */
/* modificacion de los modales */
.modal-content{
    background-color: rgb(253, 247, 247);
    box-shadow: 0px 0px 2px 2px #977f7f;
    padding: 0;
    margin: 0;
    width: 35rem;
    height: 25rem;
}
/* modificacion del titulo del modal */
.modal-header{
    background-color: rgb(250, 6, 6);
}
/* cerrar el modal*/
.close{
    color: #faf4f4;
}
.close:hover{
    background-color: #0e0101;
}
#number{
    font-size: 1rem;
    height: 30px;
    width: 30px;
}
select{
    /*border: none;*/
    font-size: 1rem;

}
/* modificacion de h3, p, h5 */
h5{
    color: #0a0a0a;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h3{
    color: #050505;
}
p{
    color: #0c0b0b;
}
/* modificacion de contenido de los modales */
.imagen-produ{
    display: flex;
    width: 150px;
    height:150px;
    padding:.4rem!important ;
    border-radius:.8rem;
    overflow: hidden;
    position: relative;
    
}
/* modificacion de los precios color y alineacion */
p{
    color: rebeccapurple;
    justify-content: flex-start;
    text-align: start;
}

/* modificar el footer del modal */
.modal-footer{
    justify-content: center;
    background-color: #f0ecec96;
}
/* cerrar el modal*/
.close{
    background-color: red;
    color: #0e0d0d;
}
.close:hover{
    background-color: #f90202;
}
.modal-dialog{
    margin-top: 20vh;
}
/* detalles de lo modales de los productos */
.talla{
    margin-right: 1rem;
}
.description-modal{
    display: flex;
    justify-content: start;
    align-self: self-start;
}
.cantidad{
    margin-right: 1rem;
}
